<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body>
    {{>header}}
    <p>Start of about content</p>
    <a href="/">Hey</a>

    {{>footer}}
  </body>
</html>
